main {
    margin-left: 15px;
    margin-right: 10px;
}

.ajuda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    margin-left: 10px; 
    margin-right: 10px;
  }

.perguntas {
    width: 100%;
}

.accordion-button {
    position: relative;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

.accordion-button::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.chat h4 {
    margin-top: 0;
}

.chat p {
    margin-bottom: 15px;
}

.duvida textarea {
    width: 100%;
    height: 100px; 
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; 
}

.duvida button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.duvida button:hover {
    background-color: #45a049;
}

.contato {
    text-align: center;
    margin-top: 20px;
}

.contato a {
    color: #007bff;
    text-decoration: none;
}

.contato a:hover {
    text-decoration: underline;
}

.text-large {
    font-size: 24px;
}
